.mo_otp_verification_highlight_background_note {
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.55em;
}

.otp-textfield {
    border: 1px solid #94989f !important;
    width: 80% !important;
}

.mo_otp_support_table_textbox {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.mo_otp_table_layout_1 {
    background-color: #e0e0d8 !important;
    width: 97% !important;
    padding: 1% !important;
    overflow: hidden;
}

.mo_otp_mini_logo {
    height: 50px !important;
    width: 50px !important;
    background-image: url("../images/miniorange_i.ico");
    line-height: 50px !important;
    vertical-align: middle;
}

.tab-content {
    margin-left: 0% !important;
    margin-top: 0% !important;

}

.tab-content>.active {
    width: 100% !important;
}

.cd-pricing-features>li>a {
    color: #E97D68;
}

.mo_otp_icon {
    height: 50px !important;
    width: 50px !important;
    background-image: url("../images/miniorange_i.ico");
    background-size: 50px;
    line-height: 50px !important;
    vertical-align: middle;
}

.mo_textarea_css {
    border: 1px solid #9f9e9e !important;
}

.mo_btn_inter {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #2196F3 !important;
}

.mo_btn {
    display: inline-block;
    display: inline;
    zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.mo_otp_wrapper {
    border-radius: 5px
}

.mo_otp_wrapper>div {
    border-radius: 5px;
    background-color: #266184;
    padding: 1em;
    color: #fff
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

#isisJsData .subhead {
    display: none !important;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

ul {
    list-style: none;
    /* Remove HTML bullets */
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    /* Remove HTML bullets */
    padding: 0;
    margin: 0;
}
/***************Css for Sliding support**********/

#mo_otp_sliding_support_form {
    border-radius: 4px;
    position: fixed;
    width: 360px;
    border: 1px solid green;
    padding: 15px 20px 17px 20px;
    background-color: white;
    right: -360px;
    top: 190px;
}

#mo_otp_sliding_support {
    position: fixed;
    top: 100px;
    z-index: 99999;
    right: 21px;
}

#mootp-feedback-overlay {
    background: rgba(11, 13, 13, 0.44);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}

.mo_otp_radiobox_style {
    display: inline-block !important;
}

details summary {
    color: #000000;
}

details {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    display: list-item;
    cursor: pointer;
    font-weight: bold;
    color: blue;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid rgb(0, 0, 0);
}

a:hover,
a:focus {
    color: #fff;
    text-decoration: underline;
}

.mo_resend_otp_dropdown {
    height: 33px;
    border: 1px solid;
    border-radius: 3px;
}

.mo_click_here {
    color: #0056b3 !important;
    text-decoration: none;
    background-color: transparent;
}

.mo_click_here:hover {
    color: #0056b3 !important;
    text-decoration: underline;
}

.mo_click_here:not(:hover) {
    color: #0056b3 !important;
    text-decoration: none;
    background-color: transparent;
}

.mo_click_here:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.mo_click_here:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

.mo_click_here:not([href]):not([tabindex]):focus {
    outline: 0;
}

.mo_otp_welcome_message {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 128, 0, 0.80);
    background-color: rgba(0, 255, 0, 0.15);
    padding: 5px;
}

.profile_style {
    text-align: center !important;
    width: 50% !important;
}

.mo_btn_otp {
    color: #0f151d !important;
    font-weight: bold !important;
    background: white !important;
    font-size: 16px !important;
}

.mo_otp_trans_table {
    border-collapse: separate;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #001b4c;
    font-size: 14px;
}

.mo_otp_trans_table th,
.mo_otp_trans_table td {
    text-align: left;
    padding: 10px;
}

.mo_otp_trans_table tr {
    border-bottom: 1px solid #ddd;
}

.mo_otp_trans_table tr.header {
    background-color: #226a8b;
}

.mo_otp_trans_table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

:root[data-color-scheme=dark] {

    .mo_otp_tab {
        background: #171c24 !important;
    }

    .mo_otp_country_select {
        background: #0f151d !important;
    }

    .mo_otp_btns {
        background-color: #0f151d !important;
        color: white !important;
        border: 1px solid white;
    }

    .mo_otp_head {
        background: #0f151d !important;
        border-color: rgb(65, 65, 65) !important;

    }

    .otp-row {
        border: 1px solid rgb(65, 65, 65);
        background: #0f151d;
    }

    .otp-container {
        border-color: rgb(255, 255, 255) !important;
    }

    .otp-tab {
        border-bottom: 1px solid rgb(65, 65, 65);
    }

    .mo_btn_otp {
        color: #0f151d !important;

    }

    .mo_otp_log {
        background: #171c24;
    }

    .mo_otp_warn_plugin {
        color: #f7f7f7;
        background-color: #ffffff26;
        border: solid 1px #ffffff5c;
    }

    .mo_otp_rs {
        background: #171c24
    }

    .mo_otp_bg_white {
        background-color: #5757575c;


    }

    details {
        border: 1px solid #ffffff26;
    }

    details summary {
        color: white;
    }

    .mo_otp_msg_note {
        color: black;
        background: #e0e0e0;
        width: fit-content;
    }

    .mo_otp_verification_highlight_background_note {
        color: rgb(255, 255, 255);
        background-color: #495057 !important;
    }

    .mo_otp_wrapper>div {
        background-color: #0f151d;
    }

    .mo_btn_inter {
        background-color: #ffffff26 !important;
    }

    select.form-control {
        background-color: #0f151d;
    }

    .mo_otp_report_head {
        background-color: #0f151d !important;
    }

    .mo_otp_sup_request {
        background-color: #0f151d !important;
        color: white;
    }

    .mo_otp_req_quote {
        background-color: #0f151d !important;
        color: white;
    }

    .mo_otp_trans_table {
        border: 1px solid #ffffff5c;
    }

    details[open] summary {
        border: 1px solid #ffffff5c;
    }

    .mo_otp_welcome_message {
        color: rgb(255 255 255 / 80%);
        background-color: rgb(255 255 255 / 15%);
    }

    .background_color_update_message {
        color: rgb(255 255 255 / 80%) !important;
        background-color: #ffffff26 !important;
        border-color: #ffffff26 !important;

    }

    .mo_otp_license_paln {
        background-color: #0f151d;
    }

    .mo_otp_first_card {
        border: 3px solid #0f151d;
        background: #171c24;
    }

    .mo_otp_plan_head h2 {
        color: white;
    }

    .mo_otp_first_feature {
        border-bottom: 1px solid #ffffff26;
        border-top: 1px solid #ffffff26;
    }

    .mo_otp_features {
        border-bottom: 1px solid #ffffff26;
    }

    .mo_otp_upgrade_note {
        background: #171c24;
        border: 3px solid #ffffff26;
    }

    .mo_works-step div {
        color: white;
        border: 2px solid white;
    }
    .alert.alert-info {
        color: #f7f7f7;
        background-color: #ffffff26;
    }

    .mo_otp_custom_msg {
        background: #0f151d !important;
    }
   


}

.mo_otp_head {
    background: #001b4c;
    border-bottom: 2px solid white;
}

.mo_otp_head h2 {
    color: white;
}

.mo_otp_red {
    color: red;
}

.mo_otp_bg_white {
    background-color: white;
}

.mo_otp_warn_plugin {
    width: 100%;
    display: block;
    color: red;
    background-color:rgba(255,0,0,0.1);
    padding: 5px;
    border: solid 1px rgba(255, 0, 9, 0.36);
}

.mo_otp_email_domain {
    border-radius: 3px;
    border: 1px solid rgb(134, 131, 131) !important;
    resize: vertical;
    width: 100% !important;
}

.mo_otp_trans_report {
    display: flex;
}

.mo_otp_report_no {
    height: 35px !important;
    width: 30%;
}

.mo_otp_search {
    height: 35px !important;
}

.mo_otp_report_btn {
    float: right !important;

}

.mo_otp_msg_note {
    color: red;
    font-size: 14px;
}

.mo_otp_custom_msg {
    border-radius: 4px;
    resize: vertical;
    width: 100%;
}

.mo_otp_rs {
    background: white
}

.mo_otp_country_code {
    width: 100% !important;
}

.mo_otp_addon_name {
    color: white;
}

.mo_otp_sup_request {
    color: black;
}

.mo_otp_addon_desc {
    color: white;
    text-align: center;
}

.mo_otp_merge {
    color: #b42f2f;
}

.mo_otp_registration {
    margin-right: 10px;
    display: inline-block;
}

.mo_otp_disp_no {
    display: none;
}

.mo_otp_extra_query {
    width: 100%;
    border-radius: 0.25rem;
}

.mo_otp_select_country {
    font-size: 15px;

}

.mo_otp_license_paln {
    background: white;
}

.mo_otp_plan_head h2 {
    display: inline-block;
    color: black;
}

.mo_otp_plan_card {
    width: 48%;
}

.mo_otp_first_card {
    border: 3px solid #3d618f;
    background: white;
    border-radius: 10px;
    height: 100%
}

.mo_otp_plan_price {
    font-weight: bolder !important;
    font-size: xx-large !important;
}

.mo_otp_plan_desc {
    font-weight: bolder !important;
    font-size: x-large !important;
}

.mo_otp_plan_back {
    display: inline-block;
    float : right;
}

.mo_otp_first_feature {
    border-bottom: 1px solid black;
    border-top: 1px solid black
}

.mo_otp_features {
    border-bottom: 1px solid black
}

.mo_otp_upgrade_note {
    border: 3px solid #3d618f;
    background: white;
    border-radius: 10px;
}

.mo_otp_text_center {
    text-align: center;
}

.mo_otp_white{
    background: white;
}

.mo_works-step {
    margin-bottom: 50px;
}

.mo_works-step div {
    color: #0a3273;
    border: 2px solid #0a3273;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 8px;
    float: left;
    font-size: 20px;
    margin-right: 25px;
    margin-bottom: 45px;
}

.mo_works-step p {
    font-size: 15px;
    text-align: left;
}
.tfa_plans_container:hover{
    transform:scale(1.0);
}
.otp-tab{
    border-bottom: 1px solid #001b4c;
    color:white;
}
.otp-row{
    border: 1px solid #001b4c;
    box-sizing: border-box;
    background:#001b4c;

}
.otp-tab:hover{
    background:white;
    color:black;
}
.otp-container{
    border: 1px solid #001b4c;
    background:white;
}
.mini_otp_tab{
    cursor: pointer !important;
}
.inactive-tab {
    background: none;
    color: white;
}

.active-tab {
    background: white;
    color: black;
}


@media (max-width: 768px) {

   

    .mini_otp_tab {
        display: flex;
        align-items: center;
        padding: 10px; /* Adjust padding as needed */
        justify-content: center;
        position: relative;
    }
    .mini_otp_tab .tab-label {
        display: none;
    }
    .mo_otp_regi_btn{
        margin-right: 10px !important ;
    }

    .mini_otp_tab:hover,
    .mini_otp_tab.active{
        width: 180px;
        flex-direction: row;
        justify-content: center;
        z-index: 5;
    }
    .mo_otp_disp_flex{
        display: flex;
    }

    .mini_otp_tab:hover .tab-label{
        display: inline-flex;
        position: absolute;
        top: 50%;
        left: 76%;
        transform: translateX(10px) translateY(-50%);
        padding: 12px;
        border-radius: 3px;
        z-index: 10;
        white-space: nowrap;
        background-color: white;
    }
    .mo_otp_report_desc{
        padding-top: 14px;

    }
    
    .profile_style{
        padding: 11px !important;

    }
    .otp-textfield {
        width: 100% !important;
    }

    .mo_otp_btn_icon {
        padding: 5px 5px !important;
        min-width: 40px;
        justify-content: center;
        gap: 0;
    }
    
    .mo_otp_btn_icon .mo_otp_btn_text {
        display: none;
    }
    
    .mo_otp_btn_icon .mo_otp_btn_icon {
        font-size: 16px;
    }
}

/* export tab css */

.mo_heading_export_btn, .mo_heading_export_btn:hover{
	float:right; 
	margin-right:10px;
	font-weight:500;
	border-radius:18px;
	background-color:#001b4c;
	border:1px solid black;
	color: #FFFFFF;
	text-decoration:none;
}

.mo_export_heading{
	font-size:20px;
	color:var(--body-color);
}
.mo_export_heading::after{
	height:4px;
	display:block;
	background-color:var(--body-color);
	content:" ";
	width:325px;
	margin-top:11px
}

.mo_export_blue_buttons {
    background-color: #001b4c !important;
    color: #fff !important;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.mo_export_blue_buttons:hover {
    background-color: #001b4c;
    color: #fff;
}

.mo_export_blue_buttons:disabled {
    opacity: 0.8;
    cursor: not-allowed; 
    background-color: var(--template-bg-dark);
    color: #fff;
    border: 1px solid var(--body-color); 
}


:root[data-color-scheme=dark]
{
	.mo_heading_export_btn,.mo_heading_export_btn:hover{
		background-color:#0f151d;;
		border:1px solid #ffffff;
	}

	.mo_export_blue_buttons{
		background-color:#0f151d;;
		border:1px solid #ffffff;
	}
    .mo_otp_trans_table tbody tr:nth-child(even) {
        color: #000000;

    }
    .mo_otp_trans_table tbody tr:nth-child(odd) {
        color: #ffffff !important;

    }
    .mo_boot_form-control,.mo_otp_allowed_email_domains  {
    color: #ffffff;
    background-color: #000000;
    }    
}
.mo_otp_addons {
    border: 2px solid rgb(255, 255, 255);
}

.mini_otp_tab {
    background: none;
    color: white;
    cursor: pointer;
}

.mo_otp_tab-active {
    background: white !important;
    color: black !important;
}
.mo_otp_white_text {
        color: rgb(255, 255, 255) !important;
}

.mo_otp_btn_icon {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
}

.mo_otp_btn_icon .mo_otp_btn_icon {
    font-size: 16px;
    transition: font-size 0.2s ease;
}

.mo_otp_btn_icon .mo_otp_btn_text {
    white-space: nowrap;
}

@media (max-width: 480px) {
    .mo_otp_btn_icon {
        padding: 6px 10px !important;
        min-width: 36px;
    }
    
    .mo_otp_btn_icon .mo_otp_btn_icon {
        font-size: 14px;
    }
}